REACT_APP_FIREBASE_API_KEY="AIzaSyB1Fmo81W0gDH6JQK8C0IC0gxeCZZpkzUQ",
REACT_APP_FIREBASE_AUTH_DOMAIN="proctordesk.firebaseapp.com",
REACT_APP_FIREBASE_PROJECT_ID="proctordesk",
REACT_APP_FIREBASE_STORAGE_BUCKET="proctordesk.firebasestorage.app",
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="316859342808",
REACT_APP_FIREBASE_APP_ID="1:316859342808:web:dce094a62c04927913dcad",
